.change-applic {
  h1 {
    @extend %font-add;
    @include font($height: 6.3rem, $size: 5rem, $weight: 700);
    color: $color-dark;
    margin-left: 198px;
    margin-bottom: 58px;
    padding-top: 124px;
  }
  &__main-block {
    display: flex;
    justify-content: center;
    gap: 35px;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    height: 62px;
    background: rgba(163, 188, 208, 0.5);
    @extend %font-add;
    @include font($height: 3.8rem, $size: 3rem, $weight: 700);
    color: $color-dark;
  }
  &__first-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__second-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__select {
    width: 284px;
    height: 62px;
    @include font($height: 3.8rem, $size: 3rem, $weight: 700);
    color: $color-dark;
    border: none;
    background-color: transparent;
  }
  &__input-save {
    display: flex;
    align-self: end;
    border: none;
    border-bottom: 2px solid #495966;
    background-color: transparent;
    color: $color-dark;
    outline: none;
    font-size: 3.5rem;
    font-weight: 600;
    margin-left: 71px;
    cursor: pointer;
  }
  &__input-save:hover {
    color: $color-gray;
  }
}
